body {
  background-color: #343d46;
}

.container {
  width: 300px;
  margin: 3em auto;
  background-color: #fff;
    -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.search {
  width: auto;
  height: 50px;
  border: none;
  font-size: 16px;
  color: #63717f;
}

.search-icon {
  color: #63717f;
  padding: 5px 8px;
}

.search-wrapper:hover,
.search:hover {
  color: #212121;
}

.no-js-btn {
  width: 100%;
  padding: 2px;
}